@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background:#999999;
}

.btn-cust-citrus {
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-cust-citrus:hover {
    background-color: #ff751a;
    color: white;
}